body {
    background-color: rgb(1, 8, 20);
}
#root {
    width: 85%; 
    margin: 0 auto;
    padding: 0 20px 0 20px;
}

.navbar {
    background-color: rgb(189, 226, 227) !important;
}

.home {
    /* background-color: rgb(35, 64, 99); */
    background-image: url(../public/images/bgpimage.webp); 
}

img { width: 100%; }


.image {
    /* padding: 20px 40px; */
    border: 2px solid rgba(144, 144, 114, 0.551);
    border-radius: 20px;
    filter: drop-shadow(0 0 10px #cbcbcb);
    width: 100%;
    height: 50vh;
       
}




.dayparty {
    padding: 40px;
    background-image: url(../public/images/bgpimage.webp);  
    background-attachment: fixed;
    background-size: cover; 
    background-repeat: no-repeat;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.family {
    padding: 40px;
    background-image: url(../public/images/bgpimage.webp);  
    background-attachment: fixed;
    background-size: cover; 
    background-repeat: no-repeat;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.ladies {
    padding: 40px;
    background-image: url(../public/images/bgpimage.webp);  
    background-attachment: fixed;
    background-size: cover; 
    background-repeat: no-repeat;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   
   

}

.form {
    
    filter: drop-shadow(0 0 10px #cbcbcb);
    width:auto;
    margin-left: 25%;
    margin-right: 25%;
   
}



.image2 {
    
    border: 2px solid rgba(144, 144, 114, 0.551);
    border-radius: 20px;
    filter: drop-shadow(0 0 10px #cbcbcb);
    width: 100%;
    height: 50vh;
}

.image3{
    border: 2px solid rgba(144, 144, 114, 0.551);
    border-radius: 20px;
    filter: drop-shadow(0 0 10px #cbcbcb);
    width: 100%;
    height: 50vh;
}

p {
    box-sizing: inherit;
    font-weight: bolder;
    font-size: large;
}

.admin {
    background-image: url(../public/images/bgpimage.webp); 
        
}


/* image:hover {
    opacity: 0.8;
    transform: scale(1.2);
  } */

